.welcometext {
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 5vh;
}

.mainelements {
    margin-left: 10vw;
}
.chartcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10vw;
}

.onlinechart {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
    padding: 15px;
    box-shadow: 5px 5px 5px 5px rgba(173, 216, 230, 0.616);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.weathercontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: fit-content;
    min-height: fit-content;
    box-shadow: 5px 5px 5px 5px rgba(173, 216, 230, 0.616);
    border-radius: 10px;
    padding: 15px;
}
.tempcontainer {
    color: #095fb0;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    min-width: fit-content;
}
.vehiclechart {
    display: flex;
    flex-direction: column;
}

.flexbox {
    display: flex;
    flex-direction: row;
    gap: 7vw;
    margin-left: 10vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5vh;
    max-width: 80vw;
}

/* .piecharttext {
    margin-right: 3vw;
} */

.stickynotes {
    position: relative; 
    background-size:cover;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 10px;
    text-align: justify;
    flex-wrap: wrap;
}

.stickynotescontainer { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 3vw;
    margin-bottom: 5vh;
    margin-left: 3vh;
}

.delete {
    position: absolute;
    top: 5px; 
    right: 5px;
    cursor: pointer; 
}

body {
    user-select: none;
}

.alertcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
}

.vehiclechart {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
    padding: 15px;
    box-shadow: 5px 5px 5px 5px rgba(173, 216, 230, 0.616);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
  }
@media (max-width: 376px) {
    .weathercontainer {
        width: 60vw;
        flex-direction: column;
    }
    .vehiclechart {
        width: 70vw;
    }
}

@media (min-width: 376px) and (max-width: 600px) {

    .weathercontainer {
        width: 70vw;
    }
    
    .vehiclechart {
        margin-left: 5vw;
        width: 60vw;
    }
    .onlinechart {
        margin-left: 5vw;
    }
    .stickynotescontainer {
        margin-left: 5vw;
    }
}

@media (min-width: 601px) and (max-width: 1086px) {
    .onlinechart {
        margin-left: 15vw;
    }
}

@media (max-width: 1086px) {
    .flexbox {
        flex-direction: column;
    }
    .chartcontainer {
        flex-direction: column;
    }
}
