.modalworker {
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
}

.worker_form {
    display: flex;
    gap: 25px;
}
.flexCenter{
    display:flex;
    justify-content: center;
    align-items: center;
}