.chatmaincontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 60vh;
    width: 70vw; 
    border: 1px solid black;
    border-radius: 10px;
    justify-content: space-between;
    padding: 20px;
}

.chatinput {
    margin-top: auto;
    width: 80%;
}

.flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sendcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.messagecontainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.usertext {
    text-align: right;
}

.usertextcontainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px;
    border-radius: 10px;
    background-color: lightblue;
    max-width: fit-content;
    align-self: flex-end;
}

.systemtextcontainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10px;
    border-radius: 10px;
    background-color: lightgreen;
    max-width: fit-content;
    align-self: flex-start;
}