.welcometext {
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 10vh;
}

.mainelements {
    margin-left: 10vw;
}

.onlinechart {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
    padding: 15px;
    box-shadow: 5px 5px 5px 5px rgba(173, 216, 230, 0.616);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.vehiclechart {
    display: flex;
    flex-direction: column;
}

.flexbox {
    display: flex;
    flex-direction: row;
    gap: 10vw;
    margin-top: 5vh;
    margin-left: 10vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5vh;
    max-width: 80vw;
}

.piecharttext {
    margin-right: 3vw;
}

.stickynotes {
    position: relative; 
    background-size:cover;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: justify;
    flex-wrap: wrap;
}

.stickynotescontainer { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.delete {
    position: absolute;
    top: 5px; 
    right: 5px;
    cursor: pointer; 
}

body {
    user-select: none;
}