.modalworker {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.workerform {
    display: flex;
    gap: 25px;
}
.flexCenter{
    display:flex;
    justify-content: center;
    align-items: center;
}

.hiremaintext {
    text-align: center;
}

.imageinput {
    display: none;  
}

.imagelabel {
    cursor: pointer;
    border: 1px solid lightgray;
    width: fit-content ;
    padding: 10px;
    border-radius: 5px;
}